# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/wscript
/waf
/tools
/resources/wscript
/pebble_app.ld
/lib
/include
/build/
/.waf-1.7.0-9334f7e963bee5410f4fa28728feffdd/
/.lock-waf_darwin_build
/.hgignore
.DS_Store